UpdateStatusTest/Web References/inboundserv/InboundService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InboundService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://crm.sahibinden.com.local/ISV/WebServices/SOAP/SAHIBINDEN.WebServices.SOAP.InboundService/InboundService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://crm.sahibinden.com.local/ISV/WebServices/SOAP/SAHIBINDEN.WebServices.SOAP.InboundService/InboundService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://crm.sahibinden.com.local/ISV/WebServices/SOAP/SAHIBINDEN.WebServices.SOAP.InboundService/InboundService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SAHIBINDEN.Library.Utility" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInboundService_StartCall_InputMessage">
    <wsdl:part name="parameters" element="tns:StartCall" />
  </wsdl:message>
  <wsdl:message name="IInboundService_StartCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartCallResponse" />
  </wsdl:message>
  <wsdl:message name="IInboundService_StartCallToAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:StartCallToAgent" />
  </wsdl:message>
  <wsdl:message name="IInboundService_StartCallToAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartCallToAgentResponse" />
  </wsdl:message>
  <wsdl:message name="IInboundService_IsAgentReady_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAgentReady" />
  </wsdl:message>
  <wsdl:message name="IInboundService_IsAgentReady_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAgentReadyResponse" />
  </wsdl:message>
  <wsdl:message name="IInboundService_UpdateCrmStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCrmStatus" />
  </wsdl:message>
  <wsdl:message name="IInboundService_UpdateCrmStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCrmStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IInboundService_StartCallToAgentFromKCM_InputMessage">
    <wsdl:part name="parameters" element="tns:StartCallToAgentFromKCM" />
  </wsdl:message>
  <wsdl:message name="IInboundService_StartCallToAgentFromKCM_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartCallToAgentFromKCMResponse" />
  </wsdl:message>
  <wsdl:message name="IInboundService_CIFA_InputMessage">
    <wsdl:part name="parameters" element="tns:CIFA" />
  </wsdl:message>
  <wsdl:message name="IInboundService_CIFA_OutputMessage">
    <wsdl:part name="parameters" element="tns:CIFAResponse" />
  </wsdl:message>
  <wsdl:message name="IInboundService_StartCallMeUrgent_InputMessage">
    <wsdl:part name="parameters" element="tns:StartCallMeUrgent" />
  </wsdl:message>
  <wsdl:message name="IInboundService_StartCallMeUrgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartCallMeUrgentResponse" />
  </wsdl:message>
  <wsdl:message name="IInboundService_UpdateInboundUserCount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInboundUserCount" />
  </wsdl:message>
  <wsdl:message name="IInboundService_UpdateInboundUserCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInboundUserCountResponse" />
  </wsdl:message>
  <wsdl:message name="IInboundService_StartNewCall_InputMessage">
    <wsdl:part name="parameters" element="tns:StartNewCall" />
  </wsdl:message>
  <wsdl:message name="IInboundService_StartNewCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartNewCallResponse" />
  </wsdl:message>
  <wsdl:portType name="IInboundService">
    <wsdl:operation name="StartCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IInboundService/StartCall" message="tns:IInboundService_StartCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInboundService/StartCallResponse" message="tns:IInboundService_StartCall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartCallToAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IInboundService/StartCallToAgent" message="tns:IInboundService_StartCallToAgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInboundService/StartCallToAgentResponse" message="tns:IInboundService_StartCallToAgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAgentReady">
      <wsdl:input wsaw:Action="http://tempuri.org/IInboundService/IsAgentReady" message="tns:IInboundService_IsAgentReady_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInboundService/IsAgentReadyResponse" message="tns:IInboundService_IsAgentReady_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCrmStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IInboundService/UpdateCrmStatus" message="tns:IInboundService_UpdateCrmStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInboundService/UpdateCrmStatusResponse" message="tns:IInboundService_UpdateCrmStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartCallToAgentFromKCM">
      <wsdl:input wsaw:Action="http://tempuri.org/IInboundService/StartCallToAgentFromKCM" message="tns:IInboundService_StartCallToAgentFromKCM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInboundService/StartCallToAgentFromKCMResponse" message="tns:IInboundService_StartCallToAgentFromKCM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CIFA">
      <wsdl:input wsaw:Action="http://tempuri.org/IInboundService/CIFA" message="tns:IInboundService_CIFA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInboundService/CIFAResponse" message="tns:IInboundService_CIFA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartCallMeUrgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IInboundService/StartCallMeUrgent" message="tns:IInboundService_StartCallMeUrgent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInboundService/StartCallMeUrgentResponse" message="tns:IInboundService_StartCallMeUrgent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInboundUserCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IInboundService/UpdateInboundUserCount" message="tns:IInboundService_UpdateInboundUserCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInboundService/UpdateInboundUserCountResponse" message="tns:IInboundService_UpdateInboundUserCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartNewCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IInboundService/StartNewCall" message="tns:IInboundService_StartNewCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInboundService/StartNewCallResponse" message="tns:IInboundService_StartNewCall_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInboundService" type="tns:IInboundService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartCall">
      <soap:operation soapAction="http://tempuri.org/IInboundService/StartCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartCallToAgent">
      <soap:operation soapAction="http://tempuri.org/IInboundService/StartCallToAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAgentReady">
      <soap:operation soapAction="http://tempuri.org/IInboundService/IsAgentReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCrmStatus">
      <soap:operation soapAction="http://tempuri.org/IInboundService/UpdateCrmStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartCallToAgentFromKCM">
      <soap:operation soapAction="http://tempuri.org/IInboundService/StartCallToAgentFromKCM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIFA">
      <soap:operation soapAction="http://tempuri.org/IInboundService/CIFA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartCallMeUrgent">
      <soap:operation soapAction="http://tempuri.org/IInboundService/StartCallMeUrgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInboundUserCount">
      <soap:operation soapAction="http://tempuri.org/IInboundService/UpdateInboundUserCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartNewCall">
      <soap:operation soapAction="http://tempuri.org/IInboundService/StartNewCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InboundService">
    <wsdl:port name="BasicHttpBinding_IInboundService" binding="tns:BasicHttpBinding_IInboundService">
      <soap:address location="http://crm.sahibinden.com.local/ISV/WebServices/SOAP/SAHIBINDEN.WebServices.SOAP.InboundService/InboundService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>